.span-bottom-line{
    background: linear-gradient(to right, #ec695c, #61c454) no-repeat bottom right;
    background-size: 0 3px;
    transition:  background-size 0.7s;
}
.span-bottom-line:hover{
    background-position-x: left;
    background-size: 100% 3px;
}